<mat-card *ngIf="cartItems.length" class="max-w-7xl mx-auto">
  <table mat-table [dataSource]="cartItems" class="mat-elevation-z8 w-full">
    <!-- Product Column -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let item">
        <img [src]="'assets/' + item.productId.image" alt="{{ item.productId.name }}" class="w-[100px] my-5" />
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item">{{ item.productId.name }}</td>
    </ng-container>
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let item">{{ item.productId.price | currency: 'MAD' }}</td>
    </ng-container>
    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="onRemoveQuantity(item)">
          <mat-icon>remove</mat-icon>
        </button>
        {{ item.quantity }}
        <button mat-icon-button (click)="onAddQuantity(item)">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let item">{{ (item.productId.price * item.quantity) | currency: 'MAD' }}</td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let item">
        <button mat-raised-button color="warn" (click)="deleteFromCart(item._id)">Delete</button>
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="container">
    <!-- Other content here -->
    <div class="total-price">
      Cart Subtotal: <strong>{{ getTotalPrice() | currency : 'MAD'}} </strong>
    </div>
  </div>
  
  <button mat-raised-button color="primary" (click)="proceedToCheckout()">Proceed to Checkout</button>
</mat-card>

<mat-card *ngIf="!cartItems.length" class="max-w-7xl mx-auto">
  <p style="font-weight: bold; text-align: center;">Your cart is empty</p>
  <button mat-raised-button color="primary" routerLink="/products">Start Shopping</button>
</mat-card>
